<?xml version="1.0" encoding="utf-8"?>
<openerp>
  <data>

    <record id="view_general_configuration_mail_alias_domain" model="ir.ui.view">
      <field name="name">base.config.settings.mail.alias</field>
      <field name="model">base.config.settings</field>
      <field name="inherit_id" ref="mail.view_general_configuration_mail_alias_domain"/>
      <field name="arch" type="xml">
        <xpath expr="//div[@name='email']" position='inside'>
          <div>
            <field name="module_xopgi_mail_forward"/>
            <label for="module_xopgi_mail_forward"/><br/>

            <field name="module_xopgi_mailservers"/>
            <label for="module_xopgi_mailservers"/>
            <br/>

            <field name="module_xopgi_mail_alias_crm"/>
            <label for="module_xopgi_mail_alias_crm"/>
            <br/>

            <field name="module_xopgi_mail_alias_project"/>
            <label for="module_xopgi_mail_alias_project"/>
            <br/>

            <field name="module_xopgi_mail_verp"/>
            <label for="module_xopgi_mail_verp"/>
            <br/>

            <field name="module_xopgi_mail_new_thread"/>
            <label for="module_xopgi_mail_new_thread"/>
            <br/>

            <field name="module_xopgi_mail_move_message"/>
            <label for="module_xopgi_mail_move_message"/>
            <br/>

            <field name="module_xopgi_thread_address"/>
            <label for="module_xopgi_thread_address"/>
            <br/>

            <field name="module_xopgi_mail_disclosure"/>
            <label for="module_xopgi_mail_disclosure"/>

            <br/>
            <field name="module_xopgi_unique_message_id"/>
            <label for="module_xopgi_unique_message_id"/>

            <br/>
            <field name="module_xopgi_mail_url_attachments"/>
            <label for="module_xopgi_mail_url_attachments"/>

	    <br/>
            <field name="module_xopgi_mail_alias"/>
            <label for="module_xopgi_mail_alias"/>

            <br/>
            <field name="module_xopgi_mail_nowall"/>
            <label for="module_xopgi_mail_nowall"/>

          </div>
        </xpath>
      </field>
    </record>
  </data>
</openerp>
